:root {
  --Nutmeg: hsl(14, 45%, 36%);
  --DarkRaspberry: hsl(332, 51%, 32%);
  --White: hsl(0, 0%, 100%);
  --RoseWhite: hsl(330, 100%, 98%);
  --Eggshell: hsl(30, 54%, 90%);
  --LightGrey: hsl(30, 18%, 87%);
  --WengeBrown: hsl(30, 10%, 34%);
  --DarkCharcoal: hsl(24, 5%, 18%);
}

* {
  box-sizing: border-box;
  margin: 0;
}

html {
  font-size: 16px;
  font-family: "Outfit";
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--Eggshell);
}

.font-title {
  font-family: "Young Serif";
  font-weight: 400;
}

main {
  background-color: var(--White);
  color: var(--WengeBrown);
  max-width: 40vw;
  margin: 5vh 0;
  padding: 2rem;
  border-radius: 2vw;
}

hr {
  margin-top: 2vh;
}

ul,
ol {
  list-style-type: none;
  padding-inline-start: 0;
  line-height: 175%;
  
}

ol li , ul li{
  padding-inline-start: 2rem;
  position: relative;
}

ul li::before {
  content: "\2022";
  color: var(--Nutmeg);
  position: absolute;
  left: 0;
}

ol li::before {
  content: counter(list-item) '. ';
  color: var(--Nutmeg);
  position: absolute;
  left: 0;
}

.img-recipe {
  width: 100%;
  height: fit-content;
  border-radius: 1vw;
}

.recipe-title {
  color: var(--DarkCharcoal);
  font-size: 2.5rem;
  margin-top: 2vh;
}

.description {
  padding: 2vh 0 3vh;
}

.preparation {
  background-color: var(--RoseWhite);
  padding: 1.5rem;
  border-radius: 0.5rem;
}

.preparation > h3 {
  color: var(--DarkRaspberry);
  padding-bottom: 0.5rem;
}

span {
  font-weight: 700;
}

.sub {
  color: var(--Nutmeg);
  padding: 2vh 0;
  font-size: 1.7rem;
}

.nutrition-table th {
  font-weight: 400;
}

.nutrition-table th:nth-child(2n){
  color: var(--Nutmeg);
  font-weight: 700;
}